*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    max-width: 1300px;
    width: 80%;
    margin: 0 auto;
}
.header{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-text{
    font-size: 30px;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 600;
    transition: .3s ease-in;
}
nav ul li a:hover{
    color: gray;
}

/* home/banner section */
.home-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-text h1{
    font-size: 40px;
}
.home-text p{
    margin-top: 10px;
    font-size: 1rem;
    color: gray;
}
.btn{
    background-color: deeppink;
    border: none;
    margin-top: 1rem;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    padding: 7px 10px;
    transition: .3s ease-in;
}
.btn:hover{
    color: black;
}
.home-img img{
    margin-top: 60px;
}


/* media section */
.media-contant{
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap:30px;
    margin-top: 55px;
    margin-bottom: 55px;
    padding: 15px;
    border-top:1px solid gray ;
    border-bottom: 1px solid gray;
}